.cvcontainer {
	padding-bottom: 0.5rem;
	p {
		padding-bottom: 0;
	}
}

.port-web-text {
	margin: 0; padding: 16px 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgba(1,1,1,0.9); color: var(--color-white);
	transition: background-color 220ms ease-in-out;
}

.port-web {
	margin: 1rem 0 5rem 0;
	height: 400px; width: 100%;
	display: block;
	position: relative;
	background: no-repeat top center; background-size: cover; border: none;
	&:hover {
		border: none;
	}
	&:hover .port-web-text, &:active .port-web-text {
		background-color: rgba(240,13,46,0.9);
		transition: background-color 220ms ease-in-out;
	}
}

.bg-student-survival-guide {
	background-image: url(img/ssg-mobile.jpg);
	transition: background-image 220ms ease-in-out;
}

h4 {
	margin: 16px 16px 16px 16px; padding: 0;
	font-size: 1.2rem; font-weight: 400;
}

.port-web-text p {
	margin: 16px 16px 16px 16px; padding: 0;
	line-height: 1.6;
}

.container--blog {
	.blog--text:first-of-type {
		text-indent: 2rem;
	}
	.blog--text {
		font-family: 'Lora', serif;
	}
	h3 {
		margin: 3rem 0 3.3rem 0;
	}
}

.contents--blog {
	padding: 1rem 0;
	text-align: center;
	.contents--blog--list {
		margin: 1.5rem 0;
		display: block;
	}
	.contents--blog--link {
		width: 100%;
	}
}

.blog--figure {
	margin: 0 auto; padding-bottom: 2rem;
	max-width: 540px;
	.blog--figure--image {
		width: 100%;
	}
}

@media (min-width: 760px) {
	.blog--text {
		transform: translateX(-60px);
	}
	.blog--figure {
		transform: translateX(-30px);
	}
	.contents--blog .contents--blog--list {
			margin: 1.5rem 1.5rem;
			display: inline-block;
	}
	.bg-student-survival-guide {
		background-image: url(img/ssg-desktop.jpg);
	}
}