:root {
  --color-white: #FFF;
  --color-grey: #303036;
  --color-black: #0D0D0D;
  --color-red: #F00D2E;
  --color-darkred: #D20D2E;
  --color-blue: #30bced;
  --color-darkblue: #1593c1;
  --color-yellow: #FFBF47; }

:focus {
  background-color: var(--color-yellow); }

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: var(--color-grey);
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
  font-weight: 400; }

a {
  color: var(--color-grey);
  text-decoration: none;
  border-bottom: 2px solid var(--color-grey); }
  a:hover, a:active {
    color: var(--color-blue);
    background-color: var(--color-white);
    border-color: var(--color-blue); }

h1 {
  margin-bottom: 3.3rem;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0px 1px rgba(13, 13, 13, 0.4); }

h2 {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 0px 1px rgba(13, 13, 13, 0.4); }

h3 {
  margin: 1rem 0 3.3rem 0;
  color: var(--color-red);
  font-size: 2rem;
  text-align: center; }

h5 {
  margin-top: 2rem;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 500;
  text-align: center; }

.header--primary {
  display: grid;
  grid-template-columns: repeat 5 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .header--primary .header--primary--content {
    grid-column-start: 2;
    grid-row: 3/4;
    align-self: center;
    text-align: left; }
  .header--primary .button--header {
    width: 160px;
    text-align: left;
    transition: all 330ms ease-in-out 330ms;
    border-radius: 2px;
    animation: drop-up 660ms 1 ease-in; }
    .header--primary .button--header:after {
      content: '>';
      text-align: right;
      float: right;
      transition: all 330ms ease-in-out; }
    .header--primary .button--header:hover {
      width: 180px;
      transition: all 330ms ease-in-out; }
      .header--primary .button--header:hover:after {
        transform: rotate(90deg);
        transition: all 330ms ease-in-out 220ms; }
  .header--primary .button--portfolio {
    width: 120px; }
    .header--primary .button--portfolio:hover {
      width: 140px; }
  .header--primary .button--blog {
    width: 200px; }
    .header--primary .button--blog:hover {
      width: 220px; }

.fade {
  opacity: 1;
  animation: fade-title-in 1200ms 1 ease-out; }
  .fade h1, .fade p {
    animation: drop-in 660ms 1 ease-out; }

.arrow {
  padding: 16px;
  height: 32px;
  grid-row-start: 4;
  grid-column: 1/6;
  justify-self: center;
  border: none;
  animation: hovering 10s infinite ease-in-out; }
  .arrow:hover {
    cursor: pointer; }

@keyframes fade-title-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes drop-in {
  0% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0px); } }
@keyframes drop-up {
  0% {
    transform: translateY(15px); }
  100% {
    transform: translateY(0px); } }
@keyframes hovering {
  0% {
    transform: translateY(0px); }
  20% {
    transform: translateY(0px); }
  22% {
    transform: translateY(10px); }
  24% {
    transform: translateY(0px); }
  26% {
    transform: translateY(10px); }
  28% {
    transform: translateY(0px); }
  100% {
    transform: translateY(0px); } }
@media (min-width: 760px) {
  .header--primary section {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center; }
  .header--primary .button--blog {
    width: 260px; }
    .header--primary .button--blog:hover {
      width: 280px; }

  .arrow {
    grid-row-start: 5; } }
.nav--primary {
  grid-row: 1/6;
  grid-column: 1/6; }
  .nav--primary ul {
    margin: 0;
    padding: 33% 0 0 0;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-image: url(img/bg-red.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0;
    overflow: hidden;
    list-style-type: none;
    font-weight: 500;
    transition: all 220ms ease-out; }
  .nav--primary a {
    padding: 32px 0px;
    width: 100%;
    display: block;
    color: var(--color-white);
    text-indent: 64px;
    text-decoration: none;
    border: none; }
    .nav--primary a:hover, .nav--primary a:active {
      color: var(--color-red); }
  .nav--primary .handle {
    padding: 20px 20px;
    width: calc(100% - 40px);
    z-index: 3;
    background: none;
    color: var(--color-black);
    text-align: right; }
    .nav--primary .handle:hover {
      cursor: pointer; }
  .nav--primary .handle--close {
    display: none; }

.active a {
  color: var(--color-white); }

#openMenu:target .handle--close {
  display: inline-block;
  position: fixed;
  background-image: url(img/bg-red.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color-white); }
#openMenu:target ul {
  height: 100vh;
  opacity: 1; }
#openMenu:target .handle--open {
  display: none; }

.skiplink {
  height: 1px;
  width: 1px;
  position: absolute;
  left: 0;
  top: -500px; }

@media (min-width: 760px) {
  .nav--primary ul {
    padding: 0;
    height: auto;
    opacity: 1;
    display: block;
    position: relative;
    background-image: none; }
  .nav--primary li {
    display: inline-block; }
  .nav--primary a {
    margin: 0 10px;
    padding: 20px 0;
    width: 160px;
    color: var(--color-grey);
    text-align: center;
    text-indent: 0; }
    .nav--primary a:hover {
      color: var(--color-grey);
      border-bottom: 2px solid var(--color-red);
      background: none; }
  .nav--primary .handle {
    display: none; }
  .nav--primary .active a {
    color: var(--color-grey);
    border-bottom: 2px solid var(--color-red); } }
.container {
  margin: 0 auto;
  padding: 12px 16px;
  max-width: 664px; }
  .container p {
    padding-bottom: 2rem;
    line-height: 2; }
  .container figure p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.4;
    text-align: left; }

.icon--social {
  width: 38px;
  height: auto; }
  .icon--social .social-icon-outer {
    fill: #212121;
    transition: fill 220ms; }
  .icon--social .social-icon-fill {
    fill: var(--color-white); }
  .icon--social:hover {
    cursor: pointer; }
    .icon--social:hover .social-icon-outer {
      fill: #424242;
      transition: fill 220ms; }

.figure--circle {
  text-align: center; }
  .figure--circle img {
    height: auto;
    width: 100%;
    max-width: 200px;
    display: inline-block;
    text-align: center;
    border-radius: 50%; }

.background--img {
  margin: 0 auto 2rem auto;
  height: 150px;
  width: 100%;
  position: relative;
  background: no-repeat fixed center center;
  background-size: cover;
  box-shadow: 1px 1px 1px rgba(13, 13, 13, 0.4); }

.bg-me {
  background-image: url(img/bg-me.jpg); }

.bg-contact {
  background-image: url(img/bg-keyboard.jpg); }

.bg-louvre {
  background-image: url(img/bg-louvre.jpg); }

.bg-hilton {
  background-image: url(img/bg-hilton.jpg); }

.bg-mmu {
  background-image: url(img/bg-mmu.jpg); }

.next-page {
  margin-top: 2rem;
  display: block;
  height: 200px;
  background-color: var(--color-red);
  color: var(--color-white); }
  .next-page p {
    padding: 2.5rem 0 0.5rem 0;
    color: var(--color-white);
    text-align: center;
    font-style: italic; }
  .next-page:hover {
    background-color: var(--color-darkred);
    color: var(--color-white);
    border-color: var(--color-grey);
    cursor: pointer; }

form {
  text-align: center; }

label {
  margin: 0 auto 1.2rem auto;
  width: 75%;
  max-width: 600px;
  display: block;
  font-family: "Raleway", sans-serif; }

input, textarea {
  margin: 0.5rem auto 2.5rem auto;
  padding: 0.5rem;
  width: 75%;
  max-width: 600px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  border: 1px solid var(--color-grey); }
  input:focus, textarea:focus {
    background-color: var(--color-white);
    outline: 3px solid var(--color-yellow); }

button {
  margin: 0.5rem auto 2.5rem auto;
  padding: 16px 32px;
  width: 75%;
  max-width: 200px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  background-color: var(--color-red);
  color: var(--color-white);
  border: none;
  border-bottom: 2px solid var(--color-grey); }
  button:hover, button:active {
    background-color: var(--color-darkred);
    cursor: pointer; }

.get--centered {
  text-align: center; }

.label-hint p {
  margin: 0 0 1.3rem 0;
  padding: 0;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.6;
  color: #757575; }

.button--primary {
  margin-bottom: 2rem;
  padding: 16px;
  display: inline-block;
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: 0.8rem;
  box-shadow: 1px 1px 1px rgba(13, 13, 13, 0.2); }
  .button--primary:hover {
    background-color: var(--color-darkred);
    color: var(--color-white);
    border-color: var(--color-grey);
    cursor: pointer; }

.newdownload {
  margin-bottom: 2rem;
  padding: 16px;
  display: inline-block;
  font-size: 0.8rem;
  transition: all 220ms ease-in-out; }
  .newdownload:hover {
    margin-left: -50px;
    transition: all 220ms ease-in-out; }

.cvcontainer {
  padding-bottom: 0.5rem; }
  .cvcontainer p {
    padding-bottom: 0; }

.port-web-text {
  margin: 0;
  padding: 16px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.9);
  color: var(--color-white);
  transition: background-color 220ms ease-in-out; }

.port-web {
  margin: 1rem 0 5rem 0;
  height: 400px;
  width: 100%;
  display: block;
  position: relative;
  background: no-repeat top center;
  background-size: cover;
  border: none; }
  .port-web:hover {
    border: none; }
  .port-web:hover .port-web-text, .port-web:active .port-web-text {
    background-color: rgba(240, 13, 46, 0.9);
    transition: background-color 220ms ease-in-out; }

.bg-student-survival-guide {
  background-image: url(img/ssg-mobile.jpg);
  transition: background-image 220ms ease-in-out; }

h4 {
  margin: 16px 16px 16px 16px;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 400; }

.port-web-text p {
  margin: 16px 16px 16px 16px;
  padding: 0;
  line-height: 1.6; }

.container--blog .blog--text:first-of-type {
  text-indent: 2rem; }
.container--blog .blog--text {
  font-family: 'Lora', serif; }
.container--blog h3 {
  margin: 3rem 0 3.3rem 0; }

.contents--blog {
  padding: 1rem 0;
  text-align: center; }
  .contents--blog .contents--blog--list {
    margin: 1.5rem 0;
    display: block; }
  .contents--blog .contents--blog--link {
    width: 100%; }

.blog--figure {
  margin: 0 auto;
  padding-bottom: 2rem;
  max-width: 540px; }
  .blog--figure .blog--figure--image {
    width: 100%; }

@media (min-width: 760px) {
  .blog--text {
    transform: translateX(-60px); }

  .blog--figure {
    transform: translateX(-30px); }

  .contents--blog .contents--blog--list {
    margin: 1.5rem 1.5rem;
    display: inline-block; }

  .bg-student-survival-guide {
    background-image: url(img/ssg-desktop.jpg); } }
.footer--primary {
  padding: 1rem 0 2.2rem 0;
  width: 100%;
  background-color: var(--color-grey);
  color: var(--color-white);
  border-color: var(--color-white); }
  .footer--primary a {
    color: var(--color-white);
    border-color: var(--color-white); }
    .footer--primary a:hover, .footer--primary a:active {
      color: var(--color-blue);
      background-color: var(--color-grey);
      border-color: var(--color-blue); }
  .footer--primary .footer--container {
    margin: 0 auto;
    padding: 12px 32px;
    max-width: 640px; }
  .footer--primary p {
    padding-bottom: 1rem;
    line-height: 1.5; }
  .footer--primary .nav--secondary {
    margin: 0;
    padding: 0 0 2rem 16px;
    list-style-type: none; }
  .footer--primary .nav--secondary--item {
    padding-bottom: 0.2rem; }

.footer--social {
  padding: 0 0 16px 16px; }
  .footer--social li {
    display: inline-block; }
  .footer--social img {
    margin: 0 16px 0 0;
    height: 25px;
    width: 25px;
    display: inline-block; }

@media (min-width: 760px) {
  .footer--primary {
    padding: 2.5rem 0 3.7rem 0; } }
@media (min-width: 760px) {
  .figure--circle {
    float: right; }

  .container p {
    font-size: 1.1rem;
    line-height: 2.2; }

  .background--img {
    margin: 0 auto 3rem auto;
    height: 200px; }

  .nav-ghost {
    margin: 24px 16px;
    display: inline-block; }

  .button--primary {
    padding: 16px 22px;
    font-size: 1rem;
    box-shadow: 2px 2px 2px rgba(13, 13, 13, 0.2); }

  label {
    font-size: 1.2rem; }

  input, textarea, button {
    margin: 1rem auto 2rem auto;
    font-size: 1rem; } }

/*# sourceMappingURL=style.css.map */
