.primary-header {
	display: grid;
	grid-template-columns: repeat 5(1fr);
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
	height: 100vh;
	background-image: url(img/me.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	section {
		grid-column: 2/6; grid-row: 3/4;
		align-self: center;
		text-align: left;
		} 
	.download {
		width: 160px;
		text-align: left;
		transition: all 330ms ease-in-out;
		&:after {
			content: '>';
			text-align: right;
			float: right;
			transition: all 330ms ease-in-out;
		}
		&:hover {
			width: 180px;
			transition: all 330ms ease-in-out;
			&:after {
				transform: rotate(90deg);
				transition: all 330ms ease-in-out 220ms;
			}
		}
	}
}

.fade {
	opacity: 1;
	animation: fade-title-in 300ms 1 ease-in;
	h1, p {
		animation: drop-in 220ms 1 ease-in-out;
	}
}

.arrow {
	padding: 16px;
	height: 32px;
	grid-row: 4/6;
	grid-column: 1/6;
	justify-self: center;
	align-self: middle;
	transition: margin-top 220ms ease-out;
	border: none;
	animation: hovering 10s infinite ease-in-out; 
	&:hover {
		margin-top: 20px;
		cursor: pointer;
		transition: margin-top 220ms ease-out;
	}
}

@keyframes fade-title-in {
	0% {
		opacity: 0;
	} 
	100% {
		opacity: 1;
	}
}

@keyframes drop-in {
	0% {
		margin-top: -2px;
	}
	100% {
		margin-top: 0px;
	}
}

@keyframes hovering {
	0% {
		margin-bottom: 0px;
	}
	20% {
		margin-bottom: 0px;
	}
	22% {
		margin-bottom: -15px;
	}
	24% {
		margin-bottom: 0px;
	}
	26% {
		margin-bottom: -15px;
	}
	28% {
		margin-bottom: 0px;
	}
	100% {
		margin-bottom: 0px;
	}
} 

@media (min-width: 760px) {
	.primary-header {
		section {
			grid-column: 2/3; grid-row: 3/4;
			align-self: center;
		}
	}
	.arrow {
		grid-row: 5/6;
	}
}