.nav--primary {
	grid-row: 1/6; grid-column: 1/6;
	ul {
		margin: 0;
		padding: 33% 0 0 0;
		height: 0; width: 100%;
		position: fixed; 
		z-index: 2;
		background-image: url(img/bg-red.jpg); 
		background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed;
		opacity: 0;
		overflow: hidden;
		list-style-type: none;
		font-weight: 500;
		transition: all 220ms ease-out;
	}
	a {
		padding: 32px 0px;
		width: 100%;
		display: block;
		color: var(--color-white);
		text-indent: 64px;
		text-decoration: none;
		border: none;
		&:hover, &:active {
			color: var(--color-red);
		}
	}
	.handle {
		padding: 20px 20px;
		width: calc(100% - 40px);
		z-index: 3;
		background: none; color: var(--color-black);
		text-align: right;
		&:hover {
			cursor: pointer;
		}
	}
	.handle--close {
		display: none;
	}
}

.active a {
	color: var(--color-white);
}
#openMenu:target {
	.handle--close {
		display: inline-block;
		position: fixed;
		background-image: url(img/bg-red.jpg);
		background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed; 
	color: var(--color-white);
	}
	ul {
		height: 100vh;
		opacity: 1;
	}
	.handle--open {
		display: none;
	}
}

.skiplink {
	height: 1px; width: 1px;
	position:
	absolute; left: 0;
	top: -500px;
}

@media (min-width: 760px) {
	.nav--primary {
		ul {
			padding: 0;
			height: auto;
			opacity: 1;
			display: block;
			position: relative;
			background-image: none;
		}
		li {
			display: inline-block;
		}
		a {
			margin: 0 10px;
			padding: 20px 0;
			width: 160px;
			color: var(--color-grey);
			text-align: center; text-indent: 0;
			&:hover {
				color: var(--color-grey);
				border-bottom: 2px solid var(--color-red);
				background: none;
			}
		}
		.handle {
			display: none;
		}
		.active a {
			color: var(--color-grey); border-bottom: 2px solid var(--color-red);
		}
	}
}