.port-web-text {margin: 0; padding: 16px 0; width: 100%; position: absolute; bottom: 0; background-color: rgba(1,1,1,0.9); color: $white; transition: background-color 220ms ease-in-out;}
.port-web {margin: 1rem 0 5rem 0; height: 400px; width: 100%; display: block; position: relative; background: no-repeat top center; background-size: cover; border: none; :hover {border: none;} &:hover .port-web-text, &:active .port-web-text {background-color: rgba(240,13,46,0.9); transition: background-color 220ms ease-in-out;}}
.bg-student-survival-guide {background-image: url(img/ssg-mobile.jpg); transition: background-image 220ms ease-in-out;}
h4 {margin: 16px 16px 16px 16px; padding: 0; font-size: 1.2rem; font-weight: 400;}
.port-web-text p { margin: 16px 16px 16px 16px; padding: 0; line-height: 1.6;}

.blog-contents {padding: 1rem 0; text-align: center; li {margin: 1.5rem 0; display: block;} a {width: 100%;}}
.blog { p:first-of-type {text-indent: 2rem;} h3 {margin: 3rem 0 3.3rem 0;}}
figure {margin: 0 auto; padding-bottom: 2rem; max-width: 540px; img {width: 100%;}}

@media (min-width: 760px) {.blog-contents li {margin: 1.5rem 1.5rem; display: inline-block;} .bg-student-survival-guide {background-image: url(img/ssg-desktop.jpg);}}