:focus {
  background-color: #FFBF47; }

body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #303036;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
  font-weight: 400; }

a {
  color: #0D0D0D;
  text-decoration: none;
  border-bottom: 2px solid #303036; }
  a:hover, a:active {
    color: #F00D2E;
    background-color: #FFF;
    border-color: #F00D2E; }

h1 {
  margin-bottom: 3.3rem;
  padding: 0 12px;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0px 1px rgba(13, 13, 13, 0.4); }

h2 {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 0px 1px rgba(13, 13, 13, 0.4); }

h3 {
  margin: 1rem 0 3.3rem 0;
  color: #F00D2E;
  font-size: 2rem;
  text-align: center; }

h5 {
  margin-top: 2rem;
  color: #FFF;
  font-size: 2rem;
  font-weight: 500;
  text-align: center; }

header {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat 5 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: #FFF;
  border-bottom: 1px solid rgba(13, 13, 13, 0.1); }
  header section {
    grid-column: 1/6;
    grid-row: 2/4;
    text-align: center; }
  header .download {
    width: 200px; }

.fade {
  opacity: 1;
  animation: fade-title-in 300ms 1 ease-in; }
  .fade h1, .fade p {
    animation: drop-in 220ms 1 ease-in-out; }

@keyframes fade-title-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes drop-in {
  0% {
    margin-top: -2px; }
  100% {
    margin-top: 0px; } }
@keyframes hovering {
  0% {
    margin-bottom: 0px; }
  20% {
    margin-bottom: 0px; }
  22% {
    margin-bottom: -15px; }
  24% {
    margin-bottom: 0px; }
  26% {
    margin-bottom: -15px; }
  28% {
    margin-bottom: 0px; }
  100% {
    margin-bottom: 0px; } }
.arrow {
  padding: 16px;
  height: 32px;
  grid-row: 5/6;
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
  transition: margin-top 220ms ease-out;
  border: none;
  animation: hovering 10s infinite ease-in-out; }
  .arrow:hover {
    margin-top: 20px;
    cursor: pointer;
    transition: margin-top 220ms ease-out; }

@media (min-width: 760px) {
  header {
    background-image: url(img/editato.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; } }
nav {
  grid-row: 1/6;
  grid-column: 1/6; }
  nav ul {
    margin: 0;
    padding: 33% 0 0 0;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-image: url(img/bg-red.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0;
    overflow: hidden;
    list-style-type: none;
    font-weight: 500;
    transition: all 220ms ease-out; }
  nav a {
    padding: 32px 0px;
    width: 100%;
    display: block;
    color: #FFF;
    text-indent: 64px;
    text-decoration: none;
    border: none; }
  nav:hover, nav:active {
    color: #F00D2E;
    background-color: #FFF; }

.active {
  color: #FFF; }

.handle {
  padding: 20px 20px;
  width: calc(100% - 40px);
  z-index: 3;
  background-color: #FFF;
  color: #0D0D0D;
  text-align: right; }
  .handle:hover {
    cursor: pointer; }

.handle--close {
  display: none; }

#openMenu:target .handle--close {
  display: inline-block;
  position: fixed;
  background-image: url(img/bg-red.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFF; }
#openMenu:target ul {
  height: 100vh;
  opacity: 1; }
#openMenu:target .handle--open {
  display: none; }

.skiplink {
  height: 1px;
  width: 1px;
  position: absolute;
  left: 0;
  top: -500px; }

@media (min-width: 760px) {
  nav ul {
    padding: 0;
    height: auto;
    opacity: 1;
    display: block;
    height: auto;
    position: relative;
    background-image: none;
    box-shadow: 2px 2px 2px rgba(13, 13, 13, 0.3); }
  nav li {
    display: inline-block; }
  nav a {
    margin: 0 10px;
    padding: 20px 0;
    width: 160px;
    color: #303036;
    text-align: center;
    text-indent: 0; }
    nav a:hover {
      color: #303036;
      border-bottom: 2px solid #F00D2E; }

  .active {
    color: #303036;
    border-bottom: 2px solid #F00D2E; }

  .handle {
    display: none; } }
.social-icon {
  width: 38px;
  height: auto; }
  .social-icon .social-icon-outer {
    fill: #212121;
    transition: fill 220ms; }
  .social-icon .social-icon-fill {
    fill: #FFF; }
  .social-icon:hover .social-icon-outer {
    fill: #424242;
    transition: fill 220ms; }

.container {
  margin: 0 auto;
  padding: 12px 16px;
  max-width: 664px; }
  .container p {
    padding-bottom: 2rem;
    line-height: 2; }
  .container figure p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.4;
    text-align: left; }

.self-portrait {
  text-align: center; }
  .self-portrait img {
    height: auto;
    width: 100%;
    max-width: 200px;
    display: inline-block;
    text-align: center;
    border-radius: 50%; }

.background-img {
  margin: 0 auto 2rem auto;
  height: 150px;
  width: 100%;
  max-width: 960px;
  position: relative;
  background: no-repeat fixed center center;
  background-size: cover;
  box-shadow: 1px 1px 1px rgba(13, 13, 13, 0.4); }

.bg-me {
  background-image: url(img/bg-me.jpg); }

.bg-contact {
  background-image: url(img/bg-keyboard.jpg); }

.bg-louvre {
  background-image: url(img/bg-louvre.jpg); }

.bg-hilton {
  background-image: url(img/bg-hilton.jpg); }

.bg-mmu {
  background-image: url(img/bg-mmu.jpg); }

.next-page {
  margin-top: 2rem;
  display: block;
  height: 200px;
  background-color: #F00D2E;
  color: #FFF; }
  .next-page p {
    padding: 2.5rem 0 0.5rem 0;
    color: #FFF;
    text-align: center;
    font-style: italic; }

form {
  text-align: center; }

label {
  margin: 0 auto 1.2rem auto;
  width: 75%;
  max-width: 600px;
  display: block;
  font-family: "Raleway", sans-serif; }

input, textarea {
  margin: 0.5rem auto 2.5rem auto;
  padding: 0.5rem;
  width: 75%;
  max-width: 600px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  border: 1px solid #0D0D0D; }
  input:focus, textarea:focus {
    background-color: #FFF;
    outline: 3px solid #FFBF47; }

button {
  margin: 0.5rem auto 2.5rem auto;
  width: 75%;
  max-width: 600px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  padding: 16px 32px;
  width: auto;
  background-color: #F00D2E;
  color: #FFF;
  border: none;
  border-bottom: 2px solid #303036; }
  button:hover, button:active {
    background-color: #D20D2E;
    cursor: pointer; }

.label-hint p {
  margin: 0 0 1.3rem 0;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.6;
  padding: 0;
  color: #757575; }

.center-button {
  text-align: center; }

.download {
  margin-bottom: 2rem;
  padding: 16px;
  display: inline-block;
  background-color: #F00D2E;
  color: #FFF;
  font-size: 0.8rem;
  box-shadow: 1px 1px 1px rgba(13, 13, 13, 0.2); }
  .download:hover {
    background-color: #D20D2E;
    color: #FFF;
    cursor: pointer;
    border-color: #303036; }

.next-page:hover {
  background-color: #D20D2E;
  color: #FFF;
  cursor: pointer;
  border-color: #303036; }

.cvcontainer {
  padding-bottom: 0.5rem; }
  .cvcontainer p {
    padding-bottom: 0; }

.port-web-text {
  margin: 0;
  padding: 16px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.9);
  color: #FFF;
  transition: background-color 220ms ease-in-out; }

.port-web {
  margin: 1rem 0 5rem 0;
  height: 400px;
  width: 100%;
  display: block;
  position: relative;
  background: no-repeat top center;
  background-size: cover;
  border: none; }
  .port-web :hover {
    border: none; }
  .port-web:hover .port-web-text, .port-web:active .port-web-text {
    background-color: rgba(240, 13, 46, 0.9);
    transition: background-color 220ms ease-in-out; }

.bg-student-survival-guide {
  background-image: url(img/ssg-mobile.jpg);
  transition: background-image 220ms ease-in-out; }

h4 {
  margin: 16px 16px 16px 16px;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 400; }

.port-web-text p {
  margin: 16px 16px 16px 16px;
  padding: 0;
  line-height: 1.6; }

.blog-contents {
  padding: 1rem 0;
  text-align: center; }
  .blog-contents li {
    margin: 1.5rem 0;
    display: block; }
  .blog-contents a {
    width: 100%; }

.blog p:first-of-type {
  text-indent: 2rem; }
.blog h3 {
  margin: 3rem 0 3.3rem 0; }

figure {
  margin: 0 auto;
  padding-bottom: 2rem;
  max-width: 540px; }
  figure img {
    width: 100%; }

@media (min-width: 760px) {
  .blog-contents li {
    margin: 1.5rem 1.5rem;
    display: inline-block; }

  .bg-student-survival-guide {
    background-image: url(img/ssg-desktop.jpg); } }
footer {
  padding: 1rem 0 2.2rem 0;
  width: 100%;
  background-color: #303036;
  color: #FFF;
  border-color: #FFF; }
  footer a {
    color: #FFF;
    border-color: #FFF; }
    footer a:hover, footer a:active {
      background-color: #303036; }
  footer div {
    margin: 0 auto;
    padding: 12px 32px;
    max-width: 640px; }
  footer p {
    padding-bottom: 1rem;
    line-height: 1.2; }
  footer ul {
    margin: 0;
    padding: 0 0 2rem 16px;
    list-style-type: none; }
  footer li {
    padding-bottom: 0.2rem; }

.footer-social {
  padding: 0 0 16px 16px; }
  .footer-social li {
    display: inline-block; }
  .footer-social img {
    margin: 0 16px 0 0;
    height: 25px;
    width: 25px;
    display: inline-block; }

@media (min-width: 760px) {
  footer {
    padding: 2.5rem 0 3.7rem 0; } }
@media (min-width: 760px) {
  main {
    padding-top: 3rem; }

  .container p {
    font-size: 1.1rem;
    line-height: 2.2; }

  .background-img {
    margin: 3rem auto;
    height: 250px; }

  .nav-ghost {
    margin: 24px 16px;
    display: inline-block; }

  .download {
    padding: 16px 22px;
    font-size: 1rem;
    box-shadow: 2px 2px 2px rgba(13, 13, 13, 0.2); }

  label {
    font-size: 1.2rem; }

  input, textarea, button {
    margin: 1rem auto 2rem auto;
    font-size: 1rem; } }

/*# sourceMappingURL=style.css.map */
